body {
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:14px !important;
}
#container {
    width: 100%;
    height: 100%;
}
#main-content {
    margin-left: 180px;
}
.wrapper {
    display: inline-block;
    margin-top: 55px;
    padding: 15px;
    width: 100%;
}

.bg_nav{
    background: rgba(54,66,74,1);
    border-bottom: 1px solid #f1f2f7;
    height: 60px;
}


a.logo {
    font-size: 22px;
    font-weight: 300;
    color: #fed189;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #688a7e;
}

.notification-row {
    float: right;
    margin-top: 20px;
    margin-right: 20px;

}

.top-nav .logout {
    font-size: 13px;
    color: #bdbdbd;
}

#sidebar {
    width: 180px;
    height: 100%;
    position: fixed;
    background: #394a59;
}

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 60px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #394a59;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 0 0 0 32px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #d0d8df;
    font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    line-height: 20px !important;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
    font-size: 16px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #d0d8df;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #2e3b46;
    color: #fff;
    display: block;
    /*border-radius: 4px;
    -webkit-border-radius: 4px;*/
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    border-bottom: 1px solid #d0d8df;
}
/*ul.sidebar-menu li.active a,*/ ul.sidebar-menu .sub-menu li.active a{
                                     border-bottom: 1px solid #d0d8df;
                                 }

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;
    /*color: #688a7e;*/
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li.active a i {
    color: #fff;
}


#sidebar ul > li > a .arrow {
    border-bottom: 4px solid transparent;
    border-left: 4px solid #A0A0A0;
    border-top: 4px solid transparent;
    float: right;
    height: 0;
    margin-right: 10px;
    margin-top: 6px;
    width: 0;
}
#sidebar ul > li > a .menu-arrow {
    float: right;
    margin-right: 8px;
    margin-top: 6px;
}
#sidebar > ul > li > a .arrow.open {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #A0A0A0;
    float: right;
    height: 0;
    margin-right: 10px;
    margin-top: 8px;
    width: 0;
}

#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid #d0d8df;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid #d0d8df;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.link-right{
	float: right;
	font-size: 1.5em;
	margin: 14px 15px 20px;
    text-transform: uppercase;
}

.link-right a{
	opacity: 0.7;
	text-decoration: none;
}
.page-header {
    margin: 15px 0 20px;
    border-bottom: none;
    opacity: 0.7;
    text-transform: uppercase;
}
.breadcrumb {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 34px;
    position: relative;
    margin: 0 0 19px 0;
    overflow: hidden;

}

.breadcrumb li {
    position: relative;
    margin-right: 0;
}
.breadcrumb li i {
    Font-size: 15px;
    margin-right: 5px;
}
.breadcrumb > .active {
    color: #d4d4d4;
}
.info-box {
    display: block;
    min-height: 140px;
    margin-bottom: 5px;
    padding: 20px;
    color: white;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}

.info-box:link{
    text-decoration: none;
}
.info-box:visited {
    text-decoration: none;
}
.info-box:hover {
    color : #fff;
    background : #487396;
    background-color : #487396;
}
.info-box i {
    display: block;
    height: 100px;
    font-size: 60px;
    line-height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    margin-right: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.75);
}
.info-box .count {
    margin-top: 20px;
    font-size: 34px;
    font-weight: 700;
    opacity: 0.7;
    text-transform: uppercase;
}
.info-box .sala {
    margin-top: 25px !important;
}
.info-box .title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.info-box .desc {
    margin-top: 10px;
    font-size: 12px;
}
.blue-bg {
    color : #fff;
    background : #57889c;
    background-color : #57889c;
}

.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}
.box1 {
    font-size: 16px;
    display: inline-block;
    width: 25%;
    padding: .25em .5em;
    margin: 20px 10px 0 0;
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.panel.panel-default.panel-heading {
    background: #97d3c5;
}
.state .panel-body{
    padding: 0px;
}

.panel .panel-heading {
    line-height: 34px;
    padding: 0 15px;
    min-height: 34px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}
.panel .panel-heading .panel-title {
    line-height: 40px;
}
.panel .panel-heading i {
    width: 30px;
    display: inline-block;
    font-size: 14px;
    border-right:1px solid #e6e6e6 ;
}
.panel .panel-heading ul li {
    border-top:1px solid #e6e6e6 ;
    border-left:1px solid #e6e6e6 ;
    border-right:1px solid #e6e6e6 ;
}
.panel .panel-heading h2 {
    height: 100%;
    width: auto;
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin: 0;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: 0;
}
.panel .panel-heading .panel-actions {
    float: right;
    margin-right: -15px;
    height: 40px;
    font-size: 0;
}
.panel .panel-heading .panel-actions i {
    display: inline-block;
    text-align: center;
    width: 34px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    font-size: 14px;
}
.panel .panel-heading .panel-actions a {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    padding: 0;
    margin: 0;
    color: #333;
    border-left: 1px solid rgba(0,0,0,.09);
}

.blocks-3{
	position: relative;
  	display: inline-block;
  	float:left;
  	padding-right: 15px;
  	padding-left: 15px;
	width: 450px;
	margin-bottom: 20px;
}

.dataTables_wrapper{
    border: solid #ccc;
    border-width: 0px 1px 1px 1px;
    padding: 15px;
}
.inp{
	margin-right: 14.8em;
}

